@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    border: 0;
    padding: 0;
    outline: 0;
}

.head{
    box-shadow: 0 0 70px gray;
}

.logo:hover{
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}
.custom-shape-divider-bottom-1722971748 {
    position: absolute;
    /* bottom: 0; */
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1722971748 svg {
    position: relative;
    display: block;
    width: calc(102% + 1.3px);
    height: 87px;
}

.custom-shape-divider-bottom-1722971748 .shape-fill {
    fill: white;
}
.child{
    /* border-radius: 50%; */
}
.child:hover{
    border-bottom: 2px solid white;
    transform: scale(1.05);
    transition: 0.5s;
}
img{
    width: 100%;
    height: 100%;
}
.explore:hover{
    transform: scale(1.2);
    transition: 1s;
    box-shadow: 0 0 50px gray;
    background-color: bisque;
    color: black;
}
.foot a{
    font-size: larger;
    color: gray;
}
.foot table{
    width: 350px;
    height: 300px;
}
.foot a:hover{
    color: cornflowerblue;
    text-decoration: underline;
}
.myfood{
    border: 1px solid gray;
}
img{

    width: 100%;
    height: 100%;
}

.adminbtn{
    box-shadow: 5px 10px 10px rgb(186, 125, 125);
}

.adminbtn:hover{
    background-color: indianred;
    color: wheat;
}
.accord{
    border-bottom: 1px solid purple;
}
.SignUp .inp{
    height: 50px;
    width: 80%;
    border-radius: 20px;
    background-color: rgba(53, 8, 8, 0.311);
    color: white;
    font-size: 18px;
    padding-left: 10px;
}
.SignUp label{
    font-size: 20px;
    font-weight: bold;
}

.sub{
    background-color: #FF5A3C;
    height: 50px;
    width: 80%;
    border-radius: 20px;
    /* background-color: rgba(53, 8, 8, 0.311); */
    color: white;
    font-size: 18px;
    transition: 0.5s;

}
.sub:hover{
    background-color: burlywood;
}
.inp::placeholder{
    color: wheat;
}
.signin .innp{
    height: 50px;
    width: 80%;
    border-radius: 20px;
    background-color: rgba(53, 8, 8, 0.311);
    color: white;
    font-size: 18px;
    padding-left: 10px;
}
.signin label{
    font-size: 20px;
    font-weight: bold;
}
.innp::placeholder{
    color: wheat;
}
.signin .btn{
    background-color: #FF5A3C;
    height: 50px;
    width: 80%;
    border-radius: 20px;
    /* background-color: rgba(53, 8, 8, 0.311); */
    color: white;
    font-size: 18px;
    transition: 0.5s;
}
.btn:hover{
    background-color: burlywood;
}