@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    border: 0;
    padding: 0;
    outline: 0;
}

.head{
    box-shadow: 0 0 70px gray;
}

.logo:hover{
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}
.custom-shape-divider-bottom-1722971748 {
    position: absolute;
    /* bottom: 0; */
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1722971748 svg {
    position: relative;
    display: block;
    width: calc(102% + 1.3px);
    height: 87px;
}

.custom-shape-divider-bottom-1722971748 .shape-fill {
    fill: #E7F0DC;
}
.child{
    /* border-radius: 50%; */
}
.child:hover{
    border-bottom: 2px solid white;
    transform: scale(1.05);
    transition: 0.5s;
}
img{
    width: 100%;
    height: 100%;
   
}
.explore{
    border: 2px solid gray;
}
.explore:hover{
    transform: scale(1.2);
    transition: 1s;
    box-shadow: 0 0 50px gray;
    background-color: #5F8670;
    color: black;
}
.foot a{
    font-size: larger;
    color: gray;
}
.foot table{
    width: 350px;
    height: 300px;
}
.foot a:hover{
    color: cornflowerblue;
    text-decoration: underline;
}
.myfood{
    border: 1px solid gray;
}
img{

    width: 100%;
    height: 100%;
}

/* .adminbtn{
    box-shadow: 5px 10px 10px rgb(186, 125, 125);
} */

.adminbtn:hover{
    background-color: indianred;
    color: wheat;
}
.accord{
    border-bottom: 1px solid purple;
}
.SignUp .inp{
    height: 50px;
    width: 80%;
    border-radius: 20px;
    background-color: rgba(53, 8, 8, 0.311);
    color: white;
    font-size: 18px;
    padding-left: 10px;
}
.SignUp label{
    font-size: 20px;
    font-weight: bold;
}

.sub{
    background-color: #FF5A3C;
    height: 50px;
    width: 80%;
    border-radius: 20px;
    /* background-color: rgba(53, 8, 8, 0.311); */
    color: white;
    font-size: 18px;
    transition: 0.5s;

}
.sub:hover{
    background-color: burlywood;
}
.inp::placeholder{
    color: wheat;
}
.signin .innp{
    height: 50px;
    width: 80%;
    border-radius: 20px;
    background-color: rgba(53, 8, 8, 0.311);
    color: white;
    font-size: 18px;
    padding-left: 10px;
}
.signin label{
    font-size: 20px;
    font-weight: bold;
}
.innp::placeholder{
    color: wheat;
}
.signin .btn{
    background-color: #FF5A3C;
    height: 50px;
    width: 80%;
    border-radius: 20px;
    /* background-color: rgba(53, 8, 8, 0.311); */
    color: white;
    font-size: 18px;
    transition: 0.5s;
}
.btn:hover{
    background-color: burlywood;
}
.how{
    border: 1px solid gray;
}

.dropzone {
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    -moz-border-radius: 0;
    /* -webkit-border-radius: 0; */
    border-radius: 0;
    background-color: transparent;
    border: 2px dashed rgba(0, 0, 0, 0.1);
    min-height: 180px;
    padding: 0;
    margin-bottom: 15px;
}
.bb{
    border: 2px solid #cccccc;
}
.bb::placeholder{
    color: white;
    font-size: 18px;
    padding-left: 10px;
    font-weight: bold;
}

.workwithus{
    background-color: #5f8670a6;
    background-image: url(Files/resttt.jpg);
    background-size: 100% 100%;
    background-blend-mode: darken;
}
.bike{
    background-image: url(Files/bike.jpg);
    background-size: 100% 100%;

}
.FOOD{
    background-image: url(Files/bike.jpg);
    background-size: 100% 100%;

}
.template:hover{
    box-shadow: 0 0 50px #5F8670;
    transform: translateY(-10px);
}

.checkout{
    background-image: url(Files/checkoutpics.jpg);
    background-size: 100% 100%;
    background-color: #5f8670a9;
    background-blend-mode: darken;
}

.colaa{
    background-image: url(Files/colaa.jpg);
    background-size: 100% 100%;
}
.coke{
    background-image: url(Files/cokee.jpg);
    background-size: 100% 100%;
}
.cream{
    background-image: url(Files/cream.jpg);
    background-size: 100% 100%;
}
.code{
    background-image: url(Files/code.jpg);
    background-size: 100% 100%;
}

.serviceDropdown{
    display: none;
}
.service:hover .serviceDropdown{
    display: block;
}
.cateringpics{
    background-image: url(Files/cater.jpg);
    background-size: 100% 100%;
}
/* The login  */
/* *,
*::before,
*::after {
	box-sizing: border-box;
} */

/* body {
	margin: 0;
	font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
	background: #3b4465;
} */

.forms-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-title {
	font-size: 32px;
	letter-spacing: 1px;
	color: #fff;
}

.forms {
	display: flex;
	align-items: flex-start;
	margin-top: 30px;
}

.form-wrapper {
	animation: hideLayer .3s ease-out forwards;
}

.form-wrapper.is-active {
	animation: showLayer .3s ease-in forwards;
}

@keyframes showLayer {
	50% {
		z-index: 1;
	}
	100% {
		z-index: 1;
	}
}

@keyframes hideLayer {
	0% {
		z-index: 1;
	}
	49.999% {
		z-index: 1;
	}
}

.switcher {
	position: relative;
	cursor: pointer;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	text-transform: uppercase;
	font-family: inherit;
	font-size: 16px;
	letter-spacing: .5px;
	color: #999;
	background-color: transparent;
	border: none;
	outline: none;
	transform: translateX(0);
	transition: all .3s ease-out;
}

.form-wrapper.is-active .switcher-login {
	color: #fff;
	transform: translateX(90px);
}

.form-wrapper.is-active .switcher-signup {
	color: #fff;
	transform: translateX(-90px);
}

.underlinee {
	position: absolute;
	bottom: -5px;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	width: 100%;
	height: 2px;
}

.underlinee::before {
	content: '';
	position: absolute;
	top: 0;
	left: inherit;
	display: block;
	width: inherit;
	height: inherit;
	background-color: currentColor;
	transition: transform .2s ease-out;
}

.switcher-login .underlinee::before {
	transform: translateX(101%);
}

.switcher-signup .underlinee::before {
	transform: translateX(-101%);
}

.form-wrapper.is-active .underlinee::before {
	transform: translateX(0);
}

.form {
	overflow: hidden;
	min-width: 260px;
	margin-top: 50px;
	padding: 30px 25px;
  border-radius: 5px;
	transform-origin: top;
}

.form-login {
	animation: hideLogin .3s ease-out forwards;
}

.form-wrapper.is-active .form-login {
	animation: showLogin .3s ease-in forwards;
}

@keyframes showLogin {
	0% {
		background: #d7e7f1;
		transform: translate(40%, 10px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background-color: #fff;
		transform: translate(35%, -20px);
	}
}

@keyframes hideLogin {
	0% {
		background-color: #fff;
		transform: translate(35%, -20px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background: #d7e7f1;
		transform: translate(40%, 10px);
	}
}

.form-signup {
	animation: hideSignup .3s ease-out forwards;
}

.form-wrapper.is-active .form-signup {
	animation: showSignup .3s ease-in forwards;
}

@keyframes showSignup {
	0% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
}

@keyframes hideSignup {
	0% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
}

.form fieldset {
	position: relative;
	opacity: 0;
	margin: 0;
	padding: 0;
	border: 0;
	transition: all .3s ease-out;
}

.form-login fieldset {
	transform: translateX(-50%);
}

.form-signup fieldset {
	transform: translateX(50%);
}

.form-wrapper.is-active fieldset {
	opacity: 1;
	transform: translateX(0);
	transition: opacity .4s ease-in, transform .35s ease-in;
}

.form legend {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

.input-block {
	margin-bottom: 20px;
	margin-left: 50;
}

.input-block label {
	font-size: 14px;
  color: #a1b4b4;
}

.input-block input {
	display: block;
	width: 100%;
	margin-top: 8px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 16px;
	line-height: 40px;
	color: #3b4465;
  background: #eef9fe;
  border: 1px solid #cddbef;
  border-radius: 2px;
}

.form [type='submit'] {
	opacity: 0;
	display: block;
	min-width: 120px;
	/* margin: 30px auto 10px; */
	font-size: 18px;
	line-height: 40px;
	border-radius: 25px;
	border: none;
	transition: all .3s ease-out;
}

.form-wrapper.is-active .form [type='submit'] {
	opacity: 1;
	transform: translateX(0);
	transition: all .4s ease-in;
}

.btn-login {
	color: #fbfdff;
	background: #FF5A3C;
	transform: translateX(-30%);
}

.btn-signup {
	color: #000;
	background: #fbfdff;
	box-shadow: inset 0 0 0 2px #FF5A3C;
	transform: translateX(30%);
}

.subnav{
    background-color: rgba(192, 192, 192, 0.855);
    border-bottom: 2px solid #478CCF;
}